body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: #8795C2;
  color: #333;
  padding: 20px 0 28px 0;
  margin: 0;
  background-image: url("http://barbmayer.com/images/backgrounds/wallpaper_blue.jpg");
  background-repeat: repeat-y;
  background-size:auto ;
}

img {
  max-width: 100%;
  height: auto;
}

.app-title {
  text-align: center;
  font-weight: heavy;
  color: #DCD62B;
  font-size: 2.6rem;
}

.movie {
  max-width: 700px;
  padding: 20px;
  margin: 30px auto;
  border:groove;
  background-color: #C9D05B;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
  overflow: hidden;
}

.movie h4 {
  margin: 0 0 6px 0;
}

.movie-photo {
  float: right;
  width: 30%;
  margin-left: 15px;
}

.movie-name {
  font-size: 2rem;
  font-weight: normal;
  margin: 0 0 1rem 0;
}

.rating {
  font-size: 0.9rem;
  color: #888;
  vertical-align: middle;
}

.actor-list {
  margin: 0;
  padding: 0;
  position: relative;
  left: 17px;
  font-size: 0.85rem;
  line-height: 1.5;
}

.footer {
  font-size: 0.7rem;
  color: #888;
  text-align: center;
  margin: 0;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 220px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 2px 0;
  
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 50%;
  margin-left: -60px;
  transition: opacity 0.3s;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}